@import 'bourbon';
@import 'neat';
@mixin hover-focus-active() {
    &:hover,
    &:focus,
    &:active { @content}
}

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400italic');
a {
    @include hover-focus-active {

    }
}
$color1: #ffc6aa; //rgba(255, 198, 170, 100)
$color2: #ffaaaa; //rgba(255, 170, 170, 100)
$color3: #7fffc5; //rgba(127, 255, 197, 100)
$color4: #93a5ff; //rgba(147, 165, 255, 100)
$color5: #42f8ff; //rgba(66, 248, 255, 100)
 // {font-family: 'Pacifico', cursive;
//
// black: #000000
// purple:#42007C
// blue:#002377
// body {
//   margin: 0;
//   font-family: 'Oswald', sans-serif;
//   background: url('') no-repeat center center;
//   background-size: 100vw 100vh;
// }

// .overlay {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background: rgba(20,50,70,.9);
//   mix-blend-mode: multiply;
//   overflow: hidden;
// }

// a {
//   position: relative;
//   display: block;
//   color: rgba(0,0,0,0);
//   line-height: 0;
//   font-weight: bold;
//   text-decoration: none;
//   text-transform: uppercase;
//   text-align: center;
//   font-size: 35vh;
//   background: url('http://files.hawcubite.de/stock-images/landscapes/7777-a-rocky-coast-landscape-pv.jpg') no-repeat center center;
//   background-size: 100vw 100vh;
//   -webkit-background-clip: text;
//   -webkit-text-stroke: 1px rgba(255,255,255,1);
//   animation: out 1s;
//   transition: font-size 2s, opacity 2s, -webkit-text-stroke 2s;
// }

// a:hover {
//   line-height: 100%;
//   animation: in 1s;
// }

// a:focus {
//   line-height: 100%;
//   font-size: 150vh;
//   opacity: 0;
//   -webkit-text-stroke: 1px rgba(255,255,255,0);
//   animation: in 1s;
// }

// @keyframes in {
//     0% {line-height: 0%;}
//     100% {line-height: 100%;}
// }

// @keyframes out {
//     0% {line-height: 100%;}
//     100% {line-height: 0%;}
// }
html {
    background: url(/images/baby-blue.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
  font-family: Pacifico;
}

body {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Bodini';
    // padding-top: 50px;
    // padding-bottom: 50px;
    font-weight:200;
    min-height: 100vh;
    text-align: center;
}
.hover {
    font-size:30px;
    color:white;
}

ul {
    list-style-type: none;
}

body .navbar-nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.navbar-inverse {
    background-color: #7fffc5;
}

.ember-application {
    padding: 0;
}

.table, .th, .td {
    border: 1px white;
    background-color:grey;
    color:white;
    max-width: 280px;
}


 .desc {
     color: white;
     font-family: Elsie;
    // position: static;
    // display: auto;
    // float: center;
    }

// Brought in from hospital scss and removed hospital scss.

/* Liberally stolen from Paul Irish */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
//html {
  //background-image: url(/images/IMG_2274.jpg);
  //background-size: 100%;
//   html {
//   background: url(/images/baby-blue.png) no-repeat center center fixed;
//   font-family: Pacifico, cursive;
//   font-weight: 100;
//   background-color:black;
//   // -webkit-background-size: cover;
//   // -moz-background-size: cover;
//   // -o-background-size: cover;
//   // background-size: cover;
// }
// .navbar-fixed-top {
//   border-top: 15px;
//   border-color: black;
// }
h1.logo-name {
    align:right;
    color:#002377;
    font-family: Pacifico,cursive;
}
// #ember402 {
//   height: 100vh;
// }
#ember422 {
  font-size: 28px;
}

h1 {
  color: whites;
  background-color: #000000;
  text-align: center;

}



#div.navbar-header {
  font-size: 40px;
  font-family: Bodini;
  font-weight:150;
  color: white;
}



.nav-item {
  color:blue;

}

.hospital-list {
  font-size: 55px;
  color: antiquewhite;
}
.h-name {
  color: #002237;
}

.countdown {
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
}

.countdown h1 {
 line-height: 1;
 color: white;
}

.countdown p {
 line-height: 1.4;

}

.container .countdown {
 border-radius: 30px;
}


@media screen and (min-width: 768px) {


 .countdown {
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .container .countdown {
   padding-right: 60px;
   padding-left: 0px;
 }
 .countdown h1 {
   font-size: 63px;
 }
}
h1 {
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.panel{
   border-radius: 20px;
   padding-bottom: 5px;
   opacity: 0.6;
   height: 100%;
   color: black;
   font-family: 'Josefin Sans', sans-serif;
}


footer{
   text-align: right;
   color: antiquewhite;
}




/* Set padding to keep content from hitting the edges */
.body-content {
   padding-left: 20px;
   padding-right: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   max-width: 280px;
}


 .stopwatch {
     font-size: 60px;
     text-align: left;
     width: 300px;
     padding-left: 1%;
     padding-bottom: 8%;
     padding-top: 8%;
     padding-right: 2%;
     border-radius: 100%;
     border: 10px solid;
     overflow: hidden;
     background-color: darkgray;
     opacity: .5;
 }

     .stopwatch:hover {
         background: #FF8080;
     }

 @keyframes hvr-pulse {
     25% {
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
     }

     75% {
         -webkit-transform: scale(0.9);
         transform: scale(0.9);
     }
 }

 .hvr-pulse {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0,0,0,0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
 }

.hvr-pulse:active, .hvr-pulse:hover {
         -webkit-animation-name: hvr-pulse;
         animation-name: hvr-pulse;
         -webkit-animation-duration: 4s;
         animation-duration: 4s;
         -webkit-animation-timing-function: linear;
         animation-timing-function: linear;
         -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}

.table > tbody + tbody {
    border-top: none;
}
