<div class="col-md-offset-6 countdown">
    <h1 class="logo-name" align="right" style="font-family:Cinzel Decorative; color:antiquewhite">Byrth</h1>
    <h1 class="lead" align="right" style="color:#aaebd7">11 days from now</h1>
    <p align="right">
        <a href="TODO" class="btn btn-primary btn-lg">Complete Your Profile &raquo;</a>
    </p>
</div>
<div class="row panel">
    <div class="col-md-4">
        <h2>Contraction Timing</h2>
        <p>Most moms prefer to labor at home until their contractions are 3-5 minutes apart. Consult your doctor to see what is right for you, but for now, time your contractions here.</p>
        <p>
            <a class="btn btn-default" href="/ContractionsMvc/Index">Start Timing &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scheduled Messages</h2>
        <p>Set up the texts you want to send out to family and friends before you go into labor. Then use this resource to easily send out the texts when it is time!</p>
        <p>
            <a class="btn btn-default" href="/SMSMvc/Index">Send Texts &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fastest Route to Hospital</h2>
        <p>You can easily find the fastest way to the hospital when it's time to go. Make sure to put in your hospitals information ahead of time and then click here to GO!</p>
        <p>
            <a href="#" class="myButton">complete your profile >></a>
        </p>
    </div>

{{!-- <hr /> --}}
<footer>
    <p>&copy; 2015 - Byrth</p>
</footer>
</div>
{{outlet}}

