/* Coolors Exported Palette - coolors.co/ffc6aa-ffaaaa-7fffc5-93a5ff-42f8ff */

$color1: #ffc6aa; //rgba(255, 198, 170, 100)
$color2: #ffaaaa; //rgba(255, 170, 170, 100)
$color3: #7fffc5; //rgba(127, 255, 197, 100)
$color4: #93a5ff; //rgba(147, 165, 255, 100)
$color5: #42f8ff; //rgba(66, 248, 255, 100)