{{#bs-navbar class='navbar-inverse navbar-top-fixed' name='| Byrth |' homeRoute='digidoo'}}
    {{#link-to 'digidoo.sms' tagName='li' class='nav-items'}}
        {{#link-to 'digidoo.sms.create'}}Message Manager{{/link-to}}
    {{/link-to}}
    {{#link-to 'digidoo.contractions' tagName='li' class='nav-items'}}
       {{#link-to 'digidoo.contractions'}}Contraction Timer{{/link-to}}
    {{/link-to}}
    {{#link-to 'digidoo.hospitals.edit' tagName='li' class='nav-items'}}
        {{#link-to 'digidoo.hospitals.edit'}}Hospital Info{{/link-to}}
    {{/link-to}}
    {{#link-to 'digidoo.contacts.create' tagName='li' class='nav-items'}}
        {{#link-to 'digidoo.contacts.create'}}Contacts Manager{{/link-to}}
    {{/link-to}}
{{/bs-navbar}}
{{!-- <div class="overlay">
  <a href="#0" class="text">byrth</a>
</div> --}}

<div class="container body-content">
    {{outlet}}
</div>
