<div>
<h1>Your Inner Circle</h1>
</div>
<table style="width:100%">
  <tr>
    <th> Your Inner Circle </th>
    <th colspan="2"></th>
  </tr>

    <tr>{{#each model as |contact|}}
        <li>{{contact.fullName}} : {{contact.phone}}</li>
    {{/each}}
</tr>
</table>

{{#link-to 'digidoo.contacts.create' class='btn btn-default'}}Add new contact to your inner circle{{/link-to}}

{{outlet}}
