<h3>test</h3>

<form {{action 'submitPost' newPostContent on='submit'}}>
  <h4>New Post</h4>

  {{textarea value=newPostContent}}

  <input type="submit">
</form>

{{#each model.posts as |post|}}
  {{#unless post.isNew}}
    <p>{{post.content}}</p>
  {{/unless}}
{{/each}}
